

h1 {
  text-align: center;
}
h1 {
  background-color: darkblue;
}
body{
    background-position:center;
  }
p {
font-size:30px ;
}
body {background-color: lightblue;}
h1{font-size: 70px}
Li{font-size: 40px}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;